*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Balsamiq Sans', cursive;
    background-image: url("https://images.unsplash.com/photo-1602605175663-266b3138fe42?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=398&q=80");
    height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: scroll;
    
}
.logo{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    padding-top: 0px;;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 10px;
  background-color: green;
}
.hero {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    
    font-size: 50px;
    font-weight: 900;
}

  header.hero .hero-heading {
    font-size: 3.25rem;
    font-weight: 900;
    font-weight: bold;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    color: rgb(250, 6, 6);
  }

  .cares{
       font-size:55px;
       color:rgb(250, 105, 8);
}
  /*Major Causes Section*/
  .page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
  }
  /*End of Major Causes Section */
  /* header  */

h1{
    text-align: left;
    color: red;
    position: relative;
}




/* fevi icon  */
.fa{
    position: relative;
}



/* floating image  */
#testimonials{
    background-color: #fdefed;
    color: rgb(10, 121, 10);
}
.testimonial-text{
    font-family:  Montserrat-Bold;
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item{
 padding: 7% 15%;
}
.testimonial-img{
    width: 92%;
    margin: 20px;
}



/* features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}
.feature-box{
padding: 5%;
}
.feature-icon{
    color: rgb(10, 121, 10);
    margin-bottom: 1rem;
}
.feature-heading{
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
}
.feature-class{
    color: rgb(10, 121, 10);
}
.feature-icon:hover{
    color: rgb(10, 121, 10);
}




/*Footer*/
.social{
    display: flex;
    width: 250px;
    justify-content: space-between;
    list-style: none;
    }
    .social .list-item{
      position: relative;
      width:60px;
      height: 60px;
      border-radius: 50%;
      background: #fff;
    }
    .social .list-item:after,
    .social .list-item:before{
      content:"";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, red, yellow);
      border-radius: 50%;
      z-index: -1;
      filter: blur(10px);
      opacity: 0;
      transition: 1s;
    }
    .social .list-item:after{
      filter: blur(20px);
    }
    .social .list-item:hover:before,
    .social .list-item:hover:after{
    opacity: 1;
    }
    .social .list-item .list-link{
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      text-align: center;
      line-height: 50px;
      color: #fff;
      background: #000;
      font-size: 28px;
      border-radius: 50%;
      transition:2s; 
    }
    .social .list-item .list-link i{
      text-shadow: 0 2px 5px rgba(0,0,0, .2);
    
    }
    .social .list-item:nth-child(1) a,
    .social .list-item:nth-child(1):before,
    .social .list-item:nth-child(1):after{
      background: linear-gradient(45deg, #00aeff, #a200ff);
    }
    .social .list-item:nth-child(2) a,
    .social .list-item:nth-child(2):before,
    .social .list-item:nth-child(2):after{
      background: linear-gradient(45deg, #00a2ff, #ff1e00);
    }
    .social .list-item:nth-child(3) a,
    .social .list-item:nth-child(3):before,
    .social .list-item:nth-child(3):after{
      background: linear-gradient(45deg,#ff008c, #ce6708);
    }
    .social .list-item:nth-child(4) a,
    .social .list-item:nth-child(4):before,
    .social .list-item:nth-child(4):after{
      background: linear-gradient(45deg,#0791c7, #f794a5);
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
